.mx-auto.w-full{ class: 'w-2/3' }
  %h1.font-bold.text-4xl Editing chat

  = turbo_frame_tag @chat do
    = render 'form', chat: @chat

  = link_to 'Show', @chat, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
  = link_to 'Back', chats_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
